* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

/* NAV BAR */
#nav-bar {
  display: flex;
  justify-content: space-between;
  background: black;
}

.nav-wrapper {
  background-color: black;
  text-align: right;
  margin-left: 10px;
}

.navigation {
  margin-right: 10px;
  margin-top: 8px;
}

.nav-items{
  padding: 5px;
}

#nav-span {
  color: rgb(255, 102, 128);
}

.nav-items, #footer-copyright {
  color: rgb(142, 142, 142);
}

  a:hover {
      color: yellow;
    }

  a:active {
      color: rgb(255, 102, 128);
    }


/* BODY CONTENT */
h1, h2 {
  font-family: 'Rock Salt', cursive;
  letter-spacing: 5px;
  color: white;
}

h5 {
  color: yellow;
}

.parallax-container {
  min-height: 600px;
}

.parallax-image {
  transform: translate3d(-50%, 734.42px, 0px);
}

/* PORTFOLIO SECTION */
.portfolio-container {
  margin: 0 auto;
  width: 90%;
}

.portfolio-header {
  float: right;
  top: 20px;
  position: relative;
}

.portfolio-img {
  width: 70%;
  margin: inherit;
  object-fit: contain;
}

#portfolio-body {
  text-align: center;
  margin: 20px auto;
  display: inline-grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 50% auto;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  justify-items: center;
  align-items: center;
}


/* SKILLS SECTION */

.skills-header {
  float: left;
  top: -70px;
  position: relative;
}

.skills-body {
  clear: left;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.devicon-container {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.devicon {
  font-size: 100px;
  padding: 50px;
}

/* FOOTER*/
.page-footer {
  background-color: black;
}

footer {
  color: white;
  padding: 7px 0px 7px 0px;
  text-align: center;
  font-size: small;
  margin-top: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 99999;
  display: none;
}

.footer-message {
  text-align: left;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#profile-photo {
  border-radius: 50%;
  height: 115px;
  float: left;
  margin-right: 25px;
}

.show, .page-footer:hover {
  display: block;
}
